Package: libfribidi-bin
Source: fribidi
Version: 1.0.5-4
Architecture: amd64
Maintainer: Debian Hebrew Packaging Team <team+hebrew@tracker.debian.org>
Installed-Size: 79
Depends: libc6 (>= 2.4), libfribidi0 (>= 0.19.2)
Breaks: libfribidi0 (<< 0.19.2-3)
Replaces: libfribidi0 (<< 0.19.2-3)
Section: utils
Priority: optional
Homepage: http://www.fribidi.org/
Description: Free Implementation of the Unicode BiDi algorithm (utility)
 FriBiDi is a BiDi algorithm implementation for Hebrew and/or Arabic
 languages.
 This package contains a command line interface for the fribidi library.
